/*global*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  text-transform: capitalize;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

/*start my frame work*/
.common-btn {
  min-width: 100px;
  height: 40px;
  border: 1px solid #D97C90;
  text-transform: capitalize;
  margin: 15px 0;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  padding: 10px 15px;
}

.common-btn:hover {
  background-color: #D97C90;
  color: white;
}

.decorative {
  margin-top: 30px;
  line-height: 8px;
  margin-bottom: 20px;
}

.decorative .line-1 {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: #D97C90;
}

.decorative .line-2 {
  width: 80px;
  height: 1px;
  display: inline-block;
  background-color: #D97C90;
}

.decorative .line-3 {
  width: 60px;
  height: 1px;
  display: inline-block;
  background-color: #D97C90;
}

.fa-facebook-f:hover {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #1da1f2;
}

.fa-google:hover {
  color: #dd4b39;
}

.fa-instagram:hover {
  color: #e1306c;
}

/*end my frame work*/
/*start header*/
.header {
  height: 100vh;
  background-image: url(../images/background.png);
  background-position: center;
  background-size: cover;
}

.header .container {
  margin-left: 100px;
  margin-right: 100px;
}

.header .container .logo img {
  padding-top: 30px;
  width: 100px;
}

.header .container .header-text {
  max-width: 400px;
  margin-top: 100px;
}

.header .container .header-text h1 {
  margin-bottom: 30px;
  font-size: 35px;
}

.header .container .header-text span {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #D97C90;
  margin: 15px 0;
}

.header .container .header-text p {
  line-height: 1.6;
  font-size: 15px;
  color: #777;
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .header .container {
    margin-left: 50px;
    margin-right: 50px;
  }
  .header .container .logo img {
    padding-top: 30px;
    width: 100px;
  }
  .header .container .header-text {
    width: 35%;
    margin-top: 100px;
  }
  .header .container .header-text h1 {
    margin-bottom: 30px;
    font-size: 25px;
  }
  .header .container .header-text span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #D97C90;
    margin: 15px 0;
  }
  .header .container .header-text p {
    line-height: 1.6;
    font-size: 15px;
    color: #777;
  }
}

@media screen and (max-width: 992px) {
  .header {
    background-image: none;
  }
  .header .container .logo img {
    padding-top: 30px;
    width: 100px;
  }
  .header .container .header-text {
    width: 100%;
    margin-top: 100px;
  }
  .header .container .header-text h1 {
    margin-bottom: 30px;
    font-size: 35px;
    width: 100%;
  }
  .header .container .header-text span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #D97C90;
    margin: 15px 0;
  }
  .header .container .header-text p {
    line-height: 1.6;
    font-size: 15px;
    color: #777;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .header {
    background-image: none;
  }
  .header .container {
    margin-left: 50px;
    margin-right: 50px;
  }
  .header .container .logo img {
    padding-top: 30px;
    width: 100px;
  }
  .header .container .header-text {
    width: 100%;
    margin-top: 100px;
  }
  .header .container .header-text h1 {
    margin-bottom: 30px;
    font-size: 25px;
  }
  .header .container .header-text span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #D97C90;
    margin: 15px 0;
  }
  .header .container .header-text p {
    line-height: 1.6;
    font-size: 15px;
    color: #777;
  }
}

.side-nav {
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background-color: #D97C90;
  z-index: 2;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.side-nav .nav-list {
  margin-top: 100px;
}

.side-nav .nav-list li {
  margin: 40px 40px;
  color: white;
  cursor: pointer;
}

.side-nav .nav-list li i {
  padding-right: 10px;
  color: white;
  cursor: pointer;
}

.side-nav .social-media {
  text-align: center;
  margin-top: 200px;
}

.side-nav .social-media li {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: white;
}

.side-nav .social-media li i {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.side-nav.side-nav-on {
  right: 0px;
}

.side-bar-icon {
  position: fixed;
  top: 55px;
  right: 35px;
  background-color: #D97C90;
  padding: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  color: white;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  z-index: 2;
}

.side-bar-icon.side-nav-on {
  right: 200px;
}

/*end header*/
/*start about section*/
.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  margin-top: 50px;
}

.about .about-left img {
  width: 100%;
}

.about .about-right {
  padding: 20px;
}

.about .about-right .heading {
  font-size: 30px;
  margin-bottom: 20px;
}

.about .about-right .heading::after {
  content: "";
  width: 100px;
  height: 3px;
  background-color: #D97C90;
  display: block;
  margin-top: 10px;
}

.about .about-right p {
  font-size: 15px;
  color: #777777;
  line-height: 1.6;
  width: 90%;
}

.about .about-right .common-btn {
  margin-top: 50px;
}

.about .about-right h3 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  .about {
    display: block;
    margin-top: 50px;
  }
  .about .about-right .heading {
    font-size: 25px;
  }
  .about .about-right p {
    font-size: 15px;
  }
  .about .about-right h3 {
    font-size: 16px;
  }
}

/*end about section*/
/*start features section*/
.features {
  margin-top: 100px;
}

.features .features-row {
  width: 80%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.features .features-row .feature {
  text-align: center;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  padding: 10px 5px;
  overflow: hidden;
}

.features .features-row .feature::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  border-top: 3px solid #D97C90;
  border-left: 3px solid #D97C90;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  border-radius: 5px;
}

.features .features-row .feature:hover::before {
  width: 30%;
  height: 30%;
}

.features .features-row .feature::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 0;
  width: 0;
  border-bottom: 3px solid #D97C90;
  border-right: 3px solid #D97C90;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.features .features-row .feature:hover::after {
  width: 30%;
  height: 30%;
}

.features .features-row .feature img {
  width: 100px;
}

.features .features-row .feature h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.features .features-row .feature p {
  width: 95%;
  color: #777;
  font-size: 15px;
  line-height: 1.6;
  margin: auto;
  margin-top: 10px;
}

.features .common-btn {
  margin: 60px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .features .features-row {
    display: block;
  }
  .features .features-row .feature {
    width: 100%;
  }
}

/*end features section*/
/*start courses section*/
.courses {
  margin-top: 100px;
}

.courses .container {
  margin-left: 100px;
  margin-right: 100px;
}

.courses .course-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.courses .course-row .course-left-col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 20px;
}

.courses .course-row .course-left-col h2 {
  margin-bottom: 10px;
}

.courses .course-row .course-left-col h2::after {
  content: "";
  width: 200px;
  height: 3px;
  background-color: #D97C90;
  display: block;
  margin-top: 10px;
}

.courses .course-row .course-left-col p {
  width: 80%;
  color: #777;
  font-size: 15px;
  line-height: 1.6;
  margin-top: 10px;
}

.courses .course-row .course-right-col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.courses .course-row .course-right-col img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .courses .container {
    margin-left: 50px;
    margin-right: 50px;
  }
  .courses .course-row {
    display: block;
  }
}

/*end courses section*/
/*start offer section*/
.offer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  margin-top: 50px;
}

.offer .offer-left img {
  width: 100%;
}

.offer .offer-right {
  padding: 20px;
}

.offer .offer-right .heading {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.offer .offer-right .heading::after {
  content: "";
  width: 240px;
  height: 3px;
  background-color: #D97C90;
  display: block;
  margin-top: 10px;
}

.offer .offer-right p {
  font-size: 15px;
  color: #777777;
  line-height: 1.6;
  width: 90%;
}

.offer .offer-right .common-btn {
  margin-top: 50px;
}

.offer .offer-right h3 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  .offer {
    display: block;
  }
}

/*end offer section*/
/*start  contact section*/
.contact {
  margin-top: 100px;
}

.contact .container {
  margin-left: 100px;
  margin-right: 100px;
}

.contact .contact-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .contact-row .contact-left-col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.contact .contact-row .contact-left-col h2 {
  margin-bottom: 10px;
}

.contact .contact-row .contact-left-col h2::after {
  content: "";
  width: 200px;
  height: 3px;
  background-color: #D97C90;
  display: block;
  margin-top: 10px;
}

.contact .contact-row .contact-left-col form {
  margin-top: 40px;
  width: 90%;
}

.contact .contact-row .contact-left-col form input {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  padding: 10px 15px;
  -webkit-box-shadow: 0 0 5px #D97C90;
          box-shadow: 0 0 5px #D97C90;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-weight: bold;
}

.contact .contact-row .contact-left-col form .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .contact-row .contact-left-col form .btn-box .common-btn {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.contact .contact-row .contact-right-col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.contact .contact-row .contact-right-col img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .contact .container {
    margin-left: 50px;
    margin-right: 50px;
  }
  .contact .contact-row {
    display: block;
  }
  .contact .contact-row .contact-right-col img {
    display: none;
  }
}

/*end contact section*/
/*start footer*/
.footer {
  margin-top: 100px;
  padding: 50px 0 30px;
}

.footer .container {
  margin-left: 100px;
  margin-right: 100px;
}

.footer .footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer-row hr {
  width: 100%;
  border: none;
  border-top: 1px solid #D97C90;
  margin-bottom: 20px;
}

.footer .footer-row .footer-left-col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.footer .footer-row .footer-left-col p {
  font-size: 20px;
  font-weight: bold;
  color: #D97C90;
}

.footer .footer-row .footer-right-col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}

.footer .footer-row .footer-right-col .social-media li {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 767px) {
  .footer .container {
    margin-left: 50px;
    margin-right: 50px;
  }
  .footer .footer-row {
    display: -ms-grid;
    display: grid;
    text-align: center;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    row-gap: 10px;
  }
  .footer .footer-row .footer-right-col {
    text-align: center;
  }
}

/*end footer*/
/*# sourceMappingURL=style.css.map */